name: Continuous Deployment (Prod)

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_SECRET }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push school image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          push: true
          platforms: linux/amd64
          tags: vishruthvs/argo:${{ github.sha }}
          
      - name: Clone staging-ops repo, update image tags, and push tags
        env:
          PAT: ${{ secrets.PAT }}
        run: |
          git clone https://github.com/VishruthVS/argo-deployment.git
          cd argo-deployment

          sed -i 's|image: vishruthvs/argo:.*|image: vishruthvs/argo:${{ github.sha }}|' manifest.yml

          git config user.name "GitHub Actions Bot"
          git config user.email "actions@github.com"
          git add .
          
          if git diff --staged --quiet; then
            echo "No changes to commit - manifest already up to date"
          else
            git commit -m "Update image tag to ${{ github.sha }}"
            git push https://${PAT}@github.com/VishruthVS/argo-deployment.git main
          fi